# 4.02 Activity 1

Keep working with `unit4.csv` that you already have locally - the same dataset you used in the previous lesson. (_We didn't add the file once again within this activity folder, since it is a large file that would consume unnecessary space on your drive._)

Discuss which option is better to clean the rows where the values are empty for the column `DOMAIN`.

- Option 1: Filtering the rows with the empty values.
- Option 2: Replacing the empty values with some other category, the most frequently represented value in that column.

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

%matplotlib inline

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../ironhack_w4_d1_mactivities_data_4.01_activities/files_for_activities/unit4.csv')
df.head()

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,635,3,2,307,318,349,378,12883,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,5218,12,10,1088,1096,1026,1037,36175,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,546,2,1,251,292,292,340,11576,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,1263,2,1,386,388,396,423,15130,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,594,4,3,240,250,293,321,9836,,113,43,10,25,9702,L2F,37,14.0,6.864865

In [ ]:
df.DOMAIN.value_counts()

In [ ]:
sns.histplot(df.DOMAIN)

In [ ]:
#filter rows with the empty values
df.DOMAIN = df[df.DOMAIN.notnull()]

In [ ]:
#replace empty values with most frequent
def clean_domain(x):
    if x == ' ':
        x = pd.DataFrame(df.DOMAIN.value_counts()).reset_index().loc[0,'index']
    return x
df.DOMAIN = list(map(clean_domain, df.DOMAIN))

# 4.02 Activity 2

```python
# Cleaning column GENDER
# this is presented in the previous example on the class

data['GENDER'].value_counts()
def clean_gender_col(x):
    if x in ['',' ' ,'U', 'C', 'J', 'A']:
        return 'other'
    else:
        return x

data['GENDER'] = list(map(clean_gender_col, data['GENDER']))
```

<br>

There is a more efficient way to use `map` over pandas dataframes, and it is called [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html).

- Use it instead of the `map` for applying the previous function to the same data.
- Do the same using the equivalent lambda function.

In [3]:
df.GENDER.value_counts()

F    48668
M    37132
      2795
U     1635
J      336
C        2
A        1
Name: GENDER, dtype: int64

In [ ]:
def clean_gender_col(x):
    if x in ['',' ' ,'U', 'C', 'J', 'A']:
        return 'other'
    else:
        return x
df.GENDER = df.GENDER.apply(clean_gender_col)
df.GENDER.value_counts()

In [6]:
df.GENDER = df.GENDER.apply(lambda x: 'other' if x in ['',' ' ,'U', 'C', 'J', 'A'] else x)
df.GENDER.value_counts()

F        48668
M        37132
other     4769
Name: GENDER, dtype: int64

# 4.02 Activity 3

Use the column `MDMAUD` to reduce the number of categories to two (`XXXX` and other).

In [8]:
df.MDMAUD.unique()

array(['XXXX', 'C1CM', 'D1CM', 'L1CM', 'C2CM', 'D2CM', 'I1CM', 'I2MM',
       'I1LM', 'L2CM', 'C1MM', 'C1LM', 'D5CM', 'I2CM', 'D5TM', 'L1LM',
       'D5MM', 'C2MM', 'I5CM', 'C5CM', 'I5MM', 'C2LM', 'C5MM', 'D2MM',
       'L1MM', 'C5TM', 'L2TM'], dtype=object)

In [10]:
df["MDMAUD"] = df["MDMAUD"].apply(lambda x: "other" if x != "XXXX" else x)

In [11]:
df.MDMAUD.unique()

array(['XXXX', 'other'], dtype=object)

# 4.02 Activity 4

Create a function to automate the process of reducing the number of values of a categorical column.

Hint: The funtion should have as an argument:

- a value
- a list of values to keep
- a list of values to replace
- a default value of "Other"

In [12]:
df.GENDER.value_counts()

F        48668
M        37132
other     4769
Name: GENDER, dtype: int64

In [49]:
def less_values(value, list_values_keep =[], list_values_replace =None):
    if value in list_values_replace or value not in list_values_keep:
        value = 'Yeah'
    return value

df.GENDER.apply(lambda x: less_values(x, ['F'],['M'])).value_counts()

F       48668
Yeah    41901
Name: GENDER, dtype: int64

In [48]:
def replacement(x, change='other',list_a=[]):
    if x in list_a:
        return x
    else:
        return change
replacement('Hello','Kitty',['Hello','Bye'])

'Hello'